@import './less/reset.less';
@import './less/basic.less';

// Start Styles
body {
    background-color: @mainbg;
    color: @font;

    // Header
    header {
        .flexrow();
        background-color: @navbg;
        justify-content: center;
        border: @border;
        .header {
            .flexcolumn();
            margin: .5em;
                h2 {
                    padding: .5em 1em;
                    font-size: 2em;
                }
        }
        nav {
            .flexrow();
            margin: .5em;
            a {
                text-decoration: none;
                font-size: 1.2em;
                padding: .5em;
                margin: .5em;
                border: @border;
                background-color: @mainbg;
                color: @font;
            }
        }
    }
    .main {
        .flexcolumn();
        h3 {
            font-size: 1.1em;
        }
    }

}










@import './less/media.less';